
name: frontend-pipline

on:
    push:
        branches:
            - main
    workflow_dispatch:
env:
  VERSION_NUMBER: ${{github.run_number}}
  SERVICE_NAME: ${{vars.SERVICE_NAME}}
  IMAGE_NAME: ${{vars.IMAGE_NAME}}
  DOCKER_COMPOSE_LOCATION: ${{vars.DOCKER_COMPOSE_LOCATION}}
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: copy code source
              uses: actions/checkout@v6
            - name: setup node
              uses: actions/setup-node@v6

            - name: install dependency
              run: npm i
            - name: excute test
              run: npm run test

    build:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: copy code source
              uses: actions/checkout@v6
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ vars.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: build docker image
              run: docker build --build-arg backend_uri=https://shop.46.lebondeveloppeur.net -t ${{env.IMAGE_NAME}} .
            - name: taracbilite de l ancien version
              run : docker  tag ${{env.IMAGE_NAME}} ${{env.IMAGE_NAME}}:v${{env.VERSION_NUMBER}}
            - name: push image
              run: docker push ${{env.IMAGE_NAME}}:latest
            - name: push image
              run: docker push ${{env.IMAGE_NAME}}:v${{env.VERSION_NUMBER}}

    deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Execute remote SSH commands using password
              uses: appleboy/ssh-action@v1
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USERNAME }}
                  password: ${{ secrets.VPS_PASSWORD }}
                  script: |
                      cd ${{env.DOCKER_COMPOSE_LOCATION}}
                      echo "pulling backend image..."
                      docker compose pull ${{env.SERVICE_NAME}}
                      echo "running the new image..." 
                      docker compose up -d  --force-recreate ${{env.SERVICE_NAME}}


